
.categories {
    .categories-results {
        list-style: none;
        margin: 16px 0 0 0;

        .category {
            display: inline;
            margin: 0 0 2px;

            &:not(:last-child):after {
                content: ">";
                display: inline-block;
                color: $fontLightColor;
                margin: 0 10px;
            }

            .category-name {
                color: $fontLightColor;
                font-size: 14px;
            }

            &:last-child .category-name {
                color: $fontDarkColor;
                font-weight: bold;
            }
        }
    }
}
