
.container {
    position: relative;
}

.main {
    width: 75%;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.error {
    padding: 100px 0;
    text-align: center;
}

.loader {
    padding: 100px 0;
    text-align: center;
}
