
$backgroundColor: #FFFFFF;
$borderColor: #F5F5F5;
$borderFocusColor: #E1E1E1;
$fontColor: #333333;
$fontCategoryColor: #666666;
$headerBackgroundColor: #FFF059;
$mainBackgroundColor: #F5F5F5;

$fontFamily: FontAwesome,proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
