
$backgroundColor: #FFFFFF;
$borderColor: #F5F5F5;
$fontColor: #333333;
$fontLightColor: #999999;
$fontDarkColor: #666666;
$headerBackgroundColor: #FFE600;
$mainBackgroundColor: #EEEEEE;
$buttonSearchColor: #EEEEEE;
$buttonBuyColor: #3483FA;

$fontFamily: FontAwesome,proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
